!!! 5
%html
  %head
    %title Goose Feathers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link(href="http://fonts.googleapis.com/css?family=Titillium+Web"
          rel="stylesheet" type="text/css")
  %body
    .page
      .header
        %h1 Goose Feathers
        .note Your daily goose-powered comic collage

        .settings
          .user
            - if @user_or_anon.anon?
              = link_to(@user_or_anon.name, @auth_link)
            - else
              = @user_or_anon.name
          %a(href="/settings") Settings

    = yield

    .footer
      .footnote A production of Blue Goose
